.epg-program-card {
    height: 350px;
    &:hover,
    &:focus {
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
        transform: scale(1.025);
    }
    img {
        object-fit: cover;
        min-height: 200px;
    }
    br {
        margin-bottom: 5px;
    }
}
